  .box1{
        height:300px;
        width:200px;
        border:20px solid green;
        /*border-radius: 20px;*/
        background:red ;
        color: red;
        margin: 50px;
        font-size: 20px;
        overflow: hidden ;
        padding:5px 20px ;
       /* border-image:repeating-linear-gradient(to bottom,yellow,green 5%,red 10%) 30 /10px/5px round; */
        
        box-shadow:20px -2px 1px 10px black;
        
  }
  .box:hover{
    height: 400px;
    width: 400px;
    background: green;
    border: 5px groove red;
    color: blue;
    font-size: 50px;
   
  }
 q{
   quotes: "»" "»";
   text-transform: uppercase;
   word-spacing: 2px;
 }
 
 .main-div{
   border: 2px solid green;   
      
 }
      
